TICKETMASTER_API_KEY=your_ticketmaster_key_here
SEATGEEK_CLIENT_ID=your_seatgeek_client_id
SEATGEEK_CLIENT_SECRET=your_seatgeek_client_secret
EVENTBRITE_API_KEY=your_eventbrite_key
YOU_SEARCH_API_KEY=your_you_search_key
PARALLEL_API_KEY=your_parallel_api_key
PARALLEL_PROCESSOR=ultra
DEFAULT_RADIUS_KM=25
DEFAULT_DAYS_AHEAD=7
